name: Pull Request Pipeline
on: [pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    name: sanity checks - pull request
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
      - name: run tests and build
        run: make clean test bins
      - name: lint
        run: make tools lint
